//output:../test/brave.html
doctype html
html
  head
    title Obten BAT gratis con Brave Browser - Earn Free
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="stylesheets/styles.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js")
    body
    	.wrapper
    	header
    	section
    		
    	section
    	footer
